#
# This script is used to check for package updates
# and email the results daily.
#
# {{ ansible_managed }}
#

MAILTO=root

# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  *  user-name  command to be executed
{% if ansible_os_family == 'Debian' %}
 00  5  *  *  *  root       /usr/bin/apt-get update -qq
# 30  5  *  *  *  root       /usr/bin/apt-get dist-upgrade -s
{% elif ansible_os_family == 'RedHat' %}
 30  5  *  *  *  root       /usr/bin/yum check-update
{% endif %}

